{% extends 'base.html' %}
{% block content %}
    <h1>Students List</h1>
    <ul>
        {% for student in students %}
        <li>
            <a href="{% url 'students:student_detail' student.id %}">
                {% if user.role == 'admin' %}
                    {{ student.get_full_name_with_status }}
                {% else %}
                    {{ student.first_name }} {{ student.last_name }}
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}